.header {
    display: flex;
    background-color: rgb(106, 90, 80);
    justify-content: space-between;
    padding: 20px 32px;
    align-items: center;
    color:rgb(240, 240, 240);
    position: sticky;
    top:0;
    z-index: 1;
}

.header h1 {
    letter-spacing: -1px;
    font-weight: 900;
    font-size: 1.5rem;
}
.header svg {
    width:28px;
    fill: rgb(240, 240, 240);
}
.header > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap:2px;
}
.header > div:nth-child(2) {
    display: flex;
    gap:24px;
    align-items: center;
}

.btn {
    padding: 6px 16px;
    font-size: 0.8rem;
    width: fit-content;
    background-color: rgb(203, 165, 132);
    color: black;
    letter-spacing: 2px;
}
.btn:hover {
    background-color: rgb(228, 206, 186);
    position: relative;
    top:1px;
    transition: 200ms;
}

.header a{
    text-decoration: none;
    color: white;
}