.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: rgb(65, 65, 65);
    margin: 20px 32px;
    margin-bottom: 0;
    padding-bottom: 32px;
    gap:12px;
}

.container > * {
    background-color: rgb(250, 250, 250);
    padding:12px;
    cursor: pointer;

}
.container > *:hover{
    box-shadow: 0px 4px 4px rgb(0, 0, 0);
    position: relative;
    top:-4px;
    transition: 250ms;
}


.container > * > *:nth-child(1) {
    font-size: 2rem;
    background-color: rgb(212, 202, 175);
    text-align: center;
    margin-bottom:6px;
}

.container > * > *:nth-child(2) {
    font-size: 0.6rem;
    display:flex;
    justify-content: space-between;
    color:gray;
    margin-bottom: 6px;
    padding-inline: 4px;
}

.container > * > *:nth-child(3) {
    padding:4px;
    font-size: 1.2rem;
    word-break: break-all;
}




.container > .noResults {
    background-color: rgb(73, 54, 47);
    margin: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container > .noResults h1,
.container > .noResults p {
    color: rgb(122, 89, 73);
}
.container > .noResults h1 {
    font-size: clamp(3rem, 2rem + 4vw ,5rem);
    background-color: transparent;
    letter-spacing: 8px;
    margin-bottom: 1.5rem;
} 
.container > .noResults p {
    font-size: clamp(2rem, 3vw + 1rem, 3rem);
    padding-bottom: 200px;
}