.view {
    background-color: rgb(87, 67, 50);
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}

.controlContainer {
    padding:20px 36px;
    display: flex;
    justify-content: center;
    gap:16px;
    background-color: rgb(202, 164, 125);
}
.controlContainer button{
    width: fit-content;
    padding:8px 16px;
    color: rgb(255, 226, 218);
    background-color: rgb(171, 139, 130);
}
.controlContainer button:nth-child(2){
    background-color: rgb(177, 136, 105);
    color: rgb(236, 216, 201);
}

@media only screen and (max-width: 600px) {
    .controlContainer > *{
        width:100% !important;
    }
}