.view {
    background-color: rgb(87, 67, 50);
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}

.controlContainer {
    padding:20px 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:16px;
    background-color: rgb(202, 164, 125);
}
.controlContainer button{
    width: fit-content;
    padding:8px 16px;
    color: rgb(255, 226, 218);
    background-color: rgb(171, 139, 130);
}
.controlContainer button:nth-child(2){
    background-color: rgb(177, 136, 105);
    color: rgb(236, 216, 201);
}


.controlContainer select {
    padding:4px 8px;
    letter-spacing: 1px;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(255, 246, 233);
    width:fit-content;
}
.controlContainer select:hover {
    background-color: rgb(232, 219, 203);
    transition: 200ms;
}
.controlContainer select:focus {
    background-color: #ffffff;
    box-shadow: 0px 1px 8px rgb(78, 70, 62);
}

@media only screen and (max-width: 600px) {
    .controlContainer > *{
        width:100% !important;
    }
    .controlContainer select {
        padding-block: 10px;
    }
}